src/main/mule/implementations/upload-document-to-aws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\document:application\json:aws-sapi-configuration">
        <set-variable value="#[attributes.headers.'x-correlation-id' default uuid()]" doc:name="Set CorrelationId" doc:id="08580015-e5f5-444a-a99e-5862e73c120a" variableName="correlationId"/>
		<logger level="INFO" doc:name="Start Log" doc:id="e6f0c6a4-91d0-4985-8fd6-97602b328ed1" message='transactionID #[vars.transactionId], correlationID: #[vars.correlationId], message: "Started upload document to amazon S3 flow"'/>
		<ee:transform doc:name="Transform Base64 And Set InputPayload" doc:id="3a751fd2-f26f-4113-950b-569afd0a7964" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import fromBase64 from dw::core::Binaries
output application/octet-stream
---
fromBase64(payload.document)]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="keyPath" ><![CDATA[payload.folderPath as String ++ "/" ++ payload.fileName as String]]></ee:set-variable>
				<ee:set-variable variableName="bucketName" ><![CDATA[payload.bucketName]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="upload-s3-document" doc:id="a16cf059-4fc7-4573-87f1-a3a8abcad9f6" name="upload-s3-document"/>
		<ee:transform doc:name="Set Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  code: 200,
  message: "Success",
  description: "Document uploaded successfully",
  dateTime: now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
  transactionId: vars.transactionId
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="6b436491-c9e6-4626-abc8-57d0bcddd835" message="transactionID: #[vars.transactionId], correlationID: #[vars.correlationId], message: Completed upload document to amazon S3 flow, payload: #[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e71b6422-3635-4c74-a23c-cfc23d74b38e" type="ANY">
				<set-variable value="#[500]" doc:name="Set HTTP Status - 500" doc:id="6e2d68c2-cc58-41d0-8836-c928fc03bfed" variableName="httpStatus"/>
				<set-variable value="Internal server error" doc:name="Set Error Message" doc:id="6c5805c8-c856-4545-bffc-d1a37f8dc38d" variableName="errorMessage"/>
				<set-variable value="#[error.description]" doc:name="Set Error Description" doc:id="ea200d7d-d1ed-4b90-bfad-46d3c3255186" variableName="errorDescription"/>
				<flow-ref doc:name="global-prepare-error-response-sub-flow" doc:id="3b039ebd-f324-4255-b270-3a4578ed1c52" name="global-prepare-error-response-sub-flow"/>
			</on-error-continue>
		</error-handler>
    
</flow>
	</mule>
